.slide-card-button {
  background-color: transparent;
  border: 0;
  outline: none;
}
.slide-card {
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px #e0dfdf;
  height: 150px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}
